






.page {
    width: 850px;
    background-color: white;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}

.description h2,
h1 {
    margin-top: 0px;
}


.vis-container {
    width: 100%;
}

.description-left {
    padding-right: 20px;
}

.description-right {
    padding-left: 20px;
	margin-top: 50px;
}



.pure-g {
    margin-bottom: 40px;
}


#choropleth_map {
	top:10px;
	bottom: 100px; 
	left: 10px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}

#scatter_plot {
	top:50px;
	bottom: 100px; 
	/* left: 100px; */
	right: 250px;
	/*height: 1000px;
	width: 800px;*/
}




#donut_chart {
	top:50px;
	bottom: 100px; 
	left: 50px;
	/* right: 100px; */
	/*height: 1000px;
	width: 800px;*/
}

#diverging_stacked_bar_chart {
	top:50px;
	bottom: 100px; 
	/* left: 100px; */
	right: 200px;
	/*height: 1000px;
	width: 800px;*/
}


#line_chart {
	top:50px;
	bottom: 100px; 
	left: 10px;
	right: 10px;
	/*height: 1000px;
	width: 800px;*/
}